<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.admin.modules.sys.mapper.SysRoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.web.admin.modules.sys.entity.po.SysRoleMenu">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
        <result column="role_id" property="roleId" />
        <result column="menu_id" property="menuId" />
    </resultMap>
    <insert id="saveRoleMenu" parameterType="java.util.List">
        insert into sys_role_menu (id, role_id, menu_id,create_time) values
        <foreach collection="SysRoleMenuList" item="item" index="index" separator=",">
            (#{item.id},#{item.roleId},#{item.menuId},#{item.createTime})
        </foreach>
    </insert>
</mapper>
